<div class="jumbotron">
  <h1 class="display-4">Seja bem vindo!</h1>
  <p class="lead">Este é o Crypto Wallet. Um app pra você cadastrar e acompanhar suas criptomoedas ;)</p>
  <hr class="my-4">
  <p>Selecione uma das opções abaixo:</p>

  <%= render "menu" %>
</div>
