<h1>Seja bem vindo!</h1>
<p>Fred Oliveira</p>
<p> <%= 1 + 1 %> </p>
<p> O nome de trás pra frente é: <%= "ludi".reverse %> </p>
<p> O nome de trás pra frente é: <%#= "fred".reverse %> </p> <!-- com sustenido o trecho de código dentro do erb é comentado. Com isso, anulado. -->
<% a = "minha variável a" %>
<p> <%= a %></p>

<%= Date.today %>